@use "../abstracts/" as a;

.hidden {
    display: none;
}

.wrapper-large {
    max-width: a.rem(1110);
}

.wrapper-small {
    max-width: a.rem(650);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.gap-y-4 {
    row-gap: a.rem(16);
}

.gap-x-8 {
    column-gap: a.rem(32);
}

.mx-auto {
    margin-inline: auto;
}

.my-auto {
    margin-block: auto;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

