@use "../abstracts" as a;

.header {
    position: relative;
    padding: a.rem(40) a.rem(24);
    height: a.rem(650);
    display: flex;
    flex-direction: column;

    &__menu-button {
        background-color: transparent;
        border: none;
    }

    &__title {
        margin-block: auto;
        border: a.rem(2) solid white;
        padding: a.rem(24);
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: clamp(2.25rem, 1.607rem + 3.214vw, 4.5rem)
    }
}

.background {
    &__image {
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        height: a.rem(650);
        object-fit: cover;
    }
}