@use "../abstracts/" as a;

.socials {
    &__list {
        align-items: center;
    }

    &__link {
        position: relative;
        text-decoration: none;
        color: var(--white);
        cursor: pointer;
    }

    &__link:hover::after,
    &__link:focus::after {
        content: "";
        position: absolute;
        width: 100%;
        height: a.rem(2);
        bottom: a.rem(-8);
        background-color: var(--white);
        margin-block-start: a.rem(8);
    }
}