@use '../abstracts/' as a;

body {
    font-family: var(--font-family-primary);
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(2.25rem, 1.607rem + 3.214vw, 4.5rem);
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(2rem, 1.648rem + 1.502vw, 3rem);
}

p {
    font-family: "Alata";
    font-size: a.rem(15);
    line-height: a.rem(25);
    opacity: 0.5;
}
